{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is home page</h1>
                <p>This is some text</p>
            </div>
        </div>
    </div>
{{end}}


// { //post
//     "item_name": name,
//     "image_name": imageName,
//     "item_description": description,
//     "item_location": location,
//     "item_date": date,
//     "item_time": time,
//     "item_contact": contact,
// }