{{define "login"}}
{{block "title" .}}Login - LostAndFound{{end}}

{{block "css" .}}
<link rel="stylesheet" href="/static/css/login.css">
{{end}}

{{block "content" .}}
<h1>Login</h1>
{{if .Flash}}<div class="flash">{{.Flash}}</div>{{end}}
<form method="POST" action="{{.BasePath}}/login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
</form>

<p>New here? <a href="{{.BasePath}}/signup">Sign up</a></p>
{{end}}

{{block "script" .}}
<script src="/static/js/login.js"></script>
{{end}}
{{end}}
