{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{{.BasePath}}/">LostAndFound</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {{if eq .Active "home"}}active{{end}}" href="{{.BasePath}}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{if eq .Active "chat"}}active{{end}}" href="{{.BasePath}}/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{if eq .Active "about"}}active{{end}}" href="{{.BasePath}}/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{if eq .Active "login"}}active{{end}}" href="{{.BasePath}}/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{end}}
